body.custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body.custom h2 {
    font-size: 22px;
  }
}

body.custom #header {
  transitiion: none;
  width: 100% !important;
  z-index: 505 !important;
}

@media (max-width: 768px) {
  body.custom #header {
    height: auto;
    display: none;
  }
}

body.custom .c-tabble {
  overflow: hidden;
  padding-top: 5px;
}

body.custom #clients .znakimg {
  height: auto !important;
}

@media (max-width: 992px) {
  body.custom #clients .znakimg {
    display: block;
    width: 90px !important;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  body.custom #mobile-nav-toggle {
    z-index: 999;
    margin: 4px 10px 0 0;
  }
}

body.custom .nav-menu .menu-has-children a {
  padding-right: 22px;
}

body.custom #topbar {
  padding-top: 0;
}

@media (max-width: 768px) {
  body.custom #datatables_buttons_info {
    width: 290px;
    margin-left: -145px;
  }
}

body.custom .dataTables_length {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 30px;
}

@media (max-width: 767px) {
  body.custom .dataTables_length {
    margin-right: 0;
  }
}

body.custom .dataTables_filter {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 30px;
  margin-left: auto;
}

body.custom .dataTables_filter label {
  margin-right: 0;
}

@media (max-width: 992px) {
  body.custom .dataTables_filter {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  body.custom .dataTables_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    width: 100%;
    margin-top: 8px;
  }
}

body.custom .html5buttons {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

@media (max-width: 992px) {
  body.custom .html5buttons {
    margin-top: 8px;
    width: 100%;
  }
}

body.custom .dataTables_info {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  width: 100%;
  padding-top: 20px;
}

body.custom table.dataTable {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

body.custom table.dataTable td {
  position: relative;
}

body.custom table.dataTable td a.c-down {
  position: absolute;
  display: inline-block;
  padding: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  font-size: 0;
  line-height: 0;
}

body.custom table.dataTable td a.c-down .fa.fa-download {
  font-size: 22px;
}

body.custom table.dataTable td li {
  word-break: break-word;
}

body.custom table.dataTable td li a.c-down {
  position: static;
  padding: 5px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body.custom table.dataTable td li a.c-down .fa.fa-download {
  font-size: 22px;
}

body.custom div.dataTables_wrapper div.dataTables_paginate {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

body.custom #datatable {
  display: none !important;
}

body.custom #datatable_wrapper #datatable {
  display: table !important;
}

body.custom .legend {
  float: none;
  height: auto;
  margin-top: 15px;
}

body.custom #main {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media (max-width: 768px) {
  body.custom #main {
    padding-top: 45px;
  }
}

body.custom .c-header {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  body.custom .c-header {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  body.custom .c-header {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  body.custom .c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    padding-left: 15px;
    padding-right: 70px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    max-width: none;
    height: 45px;
  }
}

body.custom .c-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  body.custom .c-headline {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

body.custom .c-headline__left {
  margin-right: 15px;
  max-width: 350px;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  body.custom .c-headline__left {
    margin-bottom: 0;
    margin-right: 0;
  }
}

body.custom .c-headline__center {
  margin-right: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media (max-width: 992px) {
  body.custom .c-headline__center {
    display: none;
  }
}

body.custom .c-headline__right {
  max-width: 350px;
}

@media (max-width: 768px) {
  body.custom .c-headline__right {
    display: none;
  }
}

body.custom .c-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.custom .c-logo__image {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  margin-right: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  body.custom .c-logo__image {
    width: 30px;
    margin-right: 10px;
  }
}

body.custom .c-logo__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 8px;
}

@media (max-width: 768px) {
  body.custom .c-logo__text {
    margin-top: 1px;
  }
}

body.custom .c-logo__description {
  font-size: 14px;
  line-height: 1.25;
  color: black;
}

@media (max-width: 768px) {
  body.custom .c-logo__description {
    display: none;
  }
}

body.custom .c-logo__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

@media (max-width: 992px) {
  body.custom .c-logo__title {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  body.custom .c-logo__title {
    font-size: 11px;
  }
}

body.custom .c-state {
  display: block;
}

body.custom .c-state__image {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  max-width: 90%;
}

body.custom .c-contacts__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  color: black;
}

body.custom .c-contacts__description {
  font-size: 14px;
  line-height: 1.4;
  color: black;
}

body.custom .c-contacts__phone {
  white-space: nowrap;
}

body.custom .c-contacts__phone .fa {
  margin-left: 8px;
}

body.custom #services {
  min-height: 0;
  padding-bottom: 30px;
}

body.custom .c-map-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

body.custom .c-map {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.custom .jqvmap-zoomin,
body.custom .jqvmap-zoomout {
  background-size: contain;
  top: 50%;
  margin-top: -50px;
  left: 5px;
}

@media (max-width: 480px) {
  body.custom .jqvmap-zoomin,
  body.custom .jqvmap-zoomout {
    margin-top: -40px;
    width: 20px;
  }
}

body.custom .c-map-block {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

body.custom #aaa {
  padding-top: 30px;
  padding-bottom: 30px;
}

body.custom .jqvmap-zoomout {
  margin-top: 10px;
}

body.custom #services .c-registry-item {
  display: block;
  height: auto;
  min-height: 169px;
  color: black;
}

body.custom #services .c-registry-item .icon i {
  color: #50d8af;
}

body.custom #services .c-registry-item .icon i:before {
  background: none;
}

body.custom #footer {
  position: static !important;
  height: auto !important;
  width: auto !important;
}

body.custom .pagination {
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  padding: 3px;
  padding-left: 0;
  margin-right: -3px !important;
  margin-left: -3px !important;
}

body.custom.mobile-nav-active #mobile-nav-toggle i {
  color: white;
}
