@-ms-viewport {
  width: device-width; }
html {
  min-width: 320px;
  min-height: 100%; }

body.custom {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  @media (max-width: 768px) {
    body.custom h2 {
      font-size: 18px; } }
  body.custom .c-map {
    width: 100%;
    height: 100%; }
  body.custom .jqvmap-zoomin,
  body.custom .jqvmap-zoomout,
  body.custom .jvectormap-zoomin,
  body.custom .jvectormap-zoomout {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;
    background-color: white;
    opacity: 0.7;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0);
    transition: opacity .3s;
    color: black;
    font-size: 24px;
    left: 50%;
    margin-left: -41px;
    top: auto;
    bottom: 20px; }
    body.custom .jqvmap-zoomin:hover,
    body.custom .jqvmap-zoomout:hover,
    body.custom .jvectormap-zoomin:hover,
    body.custom .jvectormap-zoomout:hover {
      opacity: 1; }
  body.custom .jqvmap-zoomout {
    margin-left: 5px; }
  body.custom #header {
    transitiion: none;
    width: 100% !important;
    z-index: 505 !important; }
    @media (max-width: 768px) {
      body.custom #header {
        height: auto;
        display: none; } }
  body.custom .c-tabble {
    overflow: hidden;
    padding-top: 5px; }
  body.custom #clients .znakimg {
    height: auto !important; }
    @media (max-width: 992px) {
      body.custom #clients .znakimg {
        display: block;
        width: 90px !important;
        padding-top: 0;
        padding-bottom: 0;
        visibility: visible; } }
  @media (max-width: 768px) {
    body.custom #mobile-nav-toggle {
      z-index: 999;
      margin: 4px 10px 0 0; } }
  body.custom .nav-menu .menu-has-children a {
    padding-right: 22px; }
  body.custom #topbar {
    padding-top: 0;
    height: 105px; }
    @media (max-width: 768px) {
      body.custom #topbar {
        height: auto; } }
  @media (max-width: 768px) {
    body.custom #datatables_buttons_info {
      width: 290px;
      margin-left: -145px; } }
  body.custom .dataTables_length {
    order: 1;
    margin-right: 30px; }
    @media (max-width: 767px) {
      body.custom .dataTables_length {
        margin-right: 0; } }
  body.custom .dataTables_filter {
    order: 2;
    margin-right: 30px;
    margin-left: auto; }
    body.custom .dataTables_filter label {
      margin-right: 0; }
    @media (max-width: 992px) {
      body.custom .dataTables_filter {
        margin-right: 0; } }
    @media (max-width: 767px) {
      body.custom .dataTables_filter {
        display: flex;
        margin-left: 0;
        width: 100%;
        margin-top: 8px; } }
  body.custom .html5buttons {
    order: 3; }
    @media (max-width: 992px) {
      body.custom .html5buttons {
        margin-top: 8px;
        width: 100%; } }
  body.custom .dataTables_info {
    order: 4;
    width: 100%;
    padding-top: 20px; }
  body.custom table.dataTable {
    order: 5; }
    body.custom table.dataTable td {
      position: relative; }
      body.custom table.dataTable td a.c-down {
        position: absolute;
        display: inline-block;
        padding: 5px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 0;
        line-height: 0; }
        body.custom table.dataTable td a.c-down .fa.fa-download {
          font-size: 22px; }
      body.custom table.dataTable td li {
        word-break: break-word; }
        body.custom table.dataTable td li a.c-down {
          position: static;
          padding: 5px;
          transform: translate3d(0, 0, 0); }
          body.custom table.dataTable td li a.c-down .fa.fa-download {
            font-size: 22px; }
  body.custom div.dataTables_wrapper div.dataTables_paginate {
    order: 6;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; }
  body.custom #datatable {
    display: none !important; }
  body.custom #datatable_wrapper #datatable {
    display: table !important; }
  body.custom .legend {
    float: none;
    height: auto;
    margin-top: 15px; }
  body.custom #main {
    overflow: hidden;
    flex-grow: 1; }
    @media (max-width: 768px) {
      body.custom #main {
        padding-top: 45px; } }
  body.custom .c-header {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (max-width: 1200px) {
      body.custom .c-header {
        max-width: 960px; } }
    @media (max-width: 992px) {
      body.custom .c-header {
        max-width: 720px; } }
    @media (max-width: 768px) {
      body.custom .c-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 900;
        padding-left: 15px;
        padding-right: 48px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
        max-width: none;
        height: 45px; } }
  body.custom .c-headline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      body.custom .c-headline {
        padding-top: 6px;
        padding-bottom: 6px;
        justify-content: flex-start; } }
    body.custom .c-headline__left {
      margin-right: 15px;
      max-width: 350px;
      margin-bottom: 4px; }
      @media (max-width: 768px) {
        body.custom .c-headline__left {
          margin-bottom: 0; } }
      @media (max-width: 480px) {
        body.custom .c-headline__left {
          margin-right: 5px;
          max-width: 200px; } }
    body.custom .c-headline__center {
      margin-right: 15px;
      flex: 0 0 auto; }
      @media (max-width: 992px) {
        body.custom .c-headline__center {
          display: none;
          margin-right: 0; } }
      @media (max-width: 768px) {
        body.custom .c-headline__center {
          display: block;
          width: 45px; } }
    body.custom .c-headline__right {
      max-width: 350px; }
      @media (max-width: 768px) {
        body.custom .c-headline__right {
          display: none; } }
  body.custom .c-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    body.custom .c-logo__image {
      vertical-align: top;
      max-width: 100%;
      height: auto;
      margin-right: 15px;
      flex: 0 0 auto; }
      @media (max-width: 768px) {
        body.custom .c-logo__image {
          width: 30px;
          margin-right: 10px; } }
    body.custom .c-logo__text {
      flex: 1 1 auto;
      margin-top: 8px; }
      @media (max-width: 768px) {
        body.custom .c-logo__text {
          margin-top: 1px; } }
    body.custom .c-logo__description {
      font-size: 14px;
      line-height: 1.25;
      color: black; }
      @media (max-width: 768px) {
        body.custom .c-logo__description {
          display: none; } }
    body.custom .c-logo__title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: black; }
      @media (max-width: 992px) {
        body.custom .c-logo__title {
          font-size: 15px; } }
      @media (max-width: 768px) {
        body.custom .c-logo__title {
          font-size: 11px;
          max-height: 32px;
          overflow: hidden; } }
  body.custom .c-map-items {
    position: absolute;
    top: 0; }
  body.custom .c-state {
    display: block; }
    body.custom .c-state__image {
      vertical-align: top;
      max-width: 100%;
      height: auto;
      max-width: 90%; }
      @media (max-width: 768px) {
        body.custom .c-state__image {
          max-width: 100%; } }
  body.custom .c-contacts__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    color: black; }
  body.custom .c-contacts__description {
    font-size: 14px;
    line-height: 1.4;
    color: black; }
  body.custom .c-contacts__phone {
    white-space: nowrap; }
    body.custom .c-contacts__phone .fa {
      margin-left: 8px; }
  body.custom #services {
    min-height: 0; }
    body.custom #services .c-registry-item {
      display: block;
      height: auto;
      min-height: 169px;
      color: black;
      height: calc(100% - 40px); }
      body.custom #services .c-registry-item .icon i {
        color: #50d8af; }
        body.custom #services .c-registry-item .icon i:before {
          background: none; }
  body.custom #footer {
    flex-shrink: 0;
    position: static !important;
    height: auto !important;
    width: auto !important;
    min-height: 81px; }
  body.custom .pagination {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding: 3px;
    padding-left: 0;
    margin-right: -3px !important;
    margin-left: -3px !important; }
  body.custom .c-map-block {
    position: relative;
    height: calc(100vh - 230px);
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
    @media (max-width: 768px) {
      body.custom .c-map-block {
        height: calc(100vh - 126px); } }
    @media (max-width: 375px) {
      body.custom .c-map-block {
        height: calc(100vh - 147px); } }
  body.custom .c-map-items {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1095px;
    justify-content: center; }
    @media (max-width: 600px) {
      body.custom .c-map-items {
        display: none; } }
    body.custom .c-map-items__item {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 3px;
      width: calc(33.333333% - 20px);
      text-align: center;
      padding: 10px;
      display: block;
      margin: 20px 10px;
      max-width: 200px; }
      @media (max-width: 600px) {
        body.custom .c-map-items__item {
          width: 200px; } }
      body.custom .c-map-items__item:hover {
        background-color: white; }
    body.custom .c-map-items__title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: black;
      font-weight: 700; }
    body.custom .c-map-items__descr {
      margin-top: 7px;
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 700;
      color: #0c2e8a; }
  body.custom .c-map-box {
    padding: 5px; }
  body.custom .c-map-box__item {
    margin-bottom: 3px; }
  body.custom .c-map-box__item:last-child {
    margin-bottom: 0; }
  body.custom.mobile-nav-active #mobile-nav-toggle i {
    color: white; }

/*# sourceMappingURL=custom.css.map */
