$screen-xl-down: 1200px;
$screen-lg-down: 992px;
$screen-md-down: 768px;
$screen-sm-down: 480px;
$z-index-headline: 900;

@mixin responsive-img() {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  min-width: 320px;
  min-height: 100%;
}

body.custom {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h2 {
    @media (max-width: $screen-md-down) {
      font-size: 18px;
    }
  }

  .c-map {
    width: 100%;
    height: 100%;
  }

  .jqvmap-zoomin,
  .jqvmap-zoomout {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;
    background-color: white;
    opacity: 0.7;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0);
    transition: opacity .3s;
    color: black;
    font-size: 24px;
    left: 50%;
    margin-left: -41px;
    top: auto;
    bottom: 20px;

    &:hover {
      opacity: 1;
    }
  }
  .jqvmap-zoomout {
    margin-left: 5px;
  }

  #header {
    transitiion: none;
    width: 100% !important;
    z-index: 505 !important;

    @media (max-width: $screen-md-down) {
      height: auto;
      display: none;
    }
  }

  .c-tabble {
    overflow: hidden;
    padding-top: 5px;
  }

  #clients .znakimg {
    height: auto !important;

    @media (max-width: $screen-lg-down) {
      display: block;
      width: 90px !important;
      padding-top: 0;
      padding-bottom: 0;
      visibility: visible;
    }
  }

  #mobile-nav-toggle {
    @media (max-width: $screen-md-down) {
      z-index: 999;
      margin: 4px 10px 0 0;
    }
  }

  .nav-menu {
    .menu-has-children {
      a {
        padding-right: 22px;
      }
    }
  }

  #topbar {
    padding-top: 0;
    height: 105px;

    @media (max-width: $screen-md-down) {
      height: auto;
    }
  }

  #datatables_buttons_info {
    @media (max-width: $screen-md-down) {
      width: 290px;
      margin-left: -145px;
    }
  }

  .dataTables_length {
    order: 1;
    margin-right: 30px;

    @media (max-width: $screen-md-down - 1px) {
      margin-right: 0;
    }
  }

  .dataTables_filter {
    order: 2;
    margin-right: 30px;
    margin-left: auto;

    label {
      margin-right: 0;
    }

    @media (max-width: $screen-lg-down) {
      margin-right: 0;
    }

    @media (max-width: $screen-md-down - 1px) {
      display: flex;
      margin-left: 0;
      width: 100%;
      margin-top: 8px;
    }
  }

  .html5buttons {
    order: 3;

    @media (max-width: $screen-lg-down) {
      margin-top: 8px;
      width: 100%;
    }
  }

  .dataTables_info {
    order: 4;
    width: 100%;
    padding-top: 20px;
  }

  table.dataTable {
    order: 5;
    //word-break: break-word;

    td {
      position: relative;

      a.c-down {
        position: absolute;
        display: inline-block;
        padding: 5px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 0;
        line-height: 0;

        .fa.fa-download {
          font-size: 22px;
        }
      }

      li {
        word-break: break-word;

        a.c-down {
          position: static;
          padding: 5px;
          transform: translate3d(0, 0, 0);

          .fa.fa-download {
            font-size: 22px;
          }
        }
      }
    }
  }

  div.dataTables_wrapper div.dataTables_paginate {
    order: 6;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

  #datatable {
    display: none !important;
  }

  #datatable_wrapper {
    #datatable {
      display: table !important;
    }
  }

  .legend {
    float: none;
    height: auto;
    margin-top: 15px;
  }

  #main {
    overflow: hidden;
    flex-grow: 1;

    @media (max-width: $screen-md-down) {
      padding-top: 45px;
    }
  }

  .c-header {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $screen-xl-down) {
      max-width: 960px;
    }

    @media (max-width: $screen-lg-down) {
      max-width: 720px;
    }

    @media (max-width: $screen-md-down) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: $z-index-headline;
      padding-left: 15px;
      padding-right: 48px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0,0,0,.08);
      max-width: none;
      height: 45px;
    }
  }

  .c-headline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: $screen-md-down) {
      padding-top: 6px;
      padding-bottom: 6px;
      justify-content: flex-start;
    }

    &__left {
      margin-right: 15px;
      max-width: 350px;
      margin-bottom: 4px;

      @media (max-width: $screen-md-down) {
        margin-bottom: 0;
        //margin-right: 0;
      }

      @media (max-width: $screen-sm-down) {
        margin-right: 5px;
        max-width: 200px;
      }
    }

    &__center {
      margin-right: 15px;
      flex: 0 0 auto;

      @media (max-width: $screen-lg-down) {
        display: none;
        margin-right: 0;
      }

      @media (max-width: $screen-md-down) {
        display: block;
        width: 45px;
      }
    }

    &__right {
      max-width: 350px;

      @media (max-width: $screen-md-down) {
        display: none;
      }
    }
  }

  .c-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__image {
      @include responsive-img();
      margin-right: 15px;
      flex: 0 0 auto;

      @media (max-width: $screen-md-down) {
        width: 30px;
        margin-right: 10px;
      }
    }

    &__text {
      flex: 1 1 auto;
      margin-top: 8px;

      @media (max-width: $screen-md-down) {
        margin-top: 1px;
      }
    }

    &__description {
      font-size: 14px;
      line-height: 1.25;
      color: black;

      @media (max-width: $screen-md-down) {
        display: none;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: black;

      @media (max-width: $screen-lg-down) {
        font-size: 15px;
      }

      @media (max-width: $screen-md-down) {
        font-size: 11px;
        max-height: 32px;
        overflow: hidden;
      }

    }
  }

  .c-map-items {
    position: absolute;
    top: 0;

    &__item {

    }
  }

  .c-state {
    display: block;

    &__image {
      @include responsive-img();
      max-width: 90%;

      @media (max-width: $screen-md-down) {
        max-width: 100%;
      }
    }
  }

  .c-contacts {

    &__title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 3px;
      color: black;
    }

    &__description {
      font-size: 14px;
      line-height: 1.4;
      color: black;
    }

    &__phone {
      white-space: nowrap;

      .fa {
        margin-left: 8px;
      }
    }

    &__phone-icon {

    }
  }


  #services {
    min-height: 0;

    .c-registry-item {
      display: block;
      height: auto;
      min-height: 169px;
      color: black;
      height: calc(100% - 40px);

      .icon{
        i {
          color: #50d8af;

          &:before {
            background: none;
          }
        }
      }
    }
  }

  #footer {
    flex-shrink: 0;
    position: static !important;
    height: auto !important;
    width: auto !important;
    min-height: 81px;
  }

  .pagination {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding: 3px;
    padding-left: 0;
    margin-right: -3px !important;
    margin-left: -3px !important;
  }

  .c-map-block {
    position: relative;
    height: calc(100vh - 230px);
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    @media (max-width: $screen-md-down) {
      height: calc(100vh - 126px);
    }

    @media (max-width: 375px) {
      height: calc(100vh - 147px);
    }
  }

  &.mobile-nav-active {

    #mobile-nav-toggle i {
      color: white;
    }

  }
}